:root {
  --one: #76b82a;
  --one-light: rgba(118, 184, 42, 0.5);
  --one-super-light: rgba(118, 184, 42, 0.3);
  --action: #0078c8;
  --grey: #edebf3;
  --color: #3c3c3c;

  --mobile-width: "768px";
  --tablet-width: "900px";
}
